testCases:
  - scenarioId: "A1"
    classfication: "Comprehensive"
    description: ""
    sql: |
      SELECT 
          name, 
          ts, 
          fuel_consumption,
          velocity 
      FROM tsbs_readings 
      LIMIT 10
  - scenarioId: "A2"
    classfication: "Fleet"
    description: ""
    sql: |
      SELECT * 
      FROM tsbs_readings 
      LIMIT 10
  - scenarioId: "A3"
    classfication: "Vehicle"
    description: ""
    sql: |
      SELECT name, avg(fuel_consumption)
      FROM tsbs_readings 
      GROUP BY name
