testCases:
    - scenarioId: "A1"
      classfication: "Summary"
      description: ""
      sql: |
          SELECT
              TUMBLE_END(ts, INTERVAL '1' HOUR) AS calculation_time,
              AVG(fuel_consumption) AS avg_fuel_consumption
          FROM
              readings
          GROUP BY
              TUMBLE(ts, INTERVAL '1' HOUR)

    - scenarioId: "A2"
      classfication: "Summary"
      description: ""
      sql: |
          SELECT
              window_end AS calculation_time,
              COUNT(*) AS vehicle_count,
              AVG(cur_fuel_consumption) AS avg_fuel_consumption
          FROM (
              SELECT
                  name,
                  TUMBLE_END(ts, INTERVAL '1' MINUTE) AS window_end,
                  LAST_VALUE(fuel_consumption) AS cur_fuel_consumption,
                  LAST_VALUE(grade) AS cur_grade
              FROM readings
              GROUP BY 
                  name,
                  TUMBLE(ts, INTERVAL '1' MINUTE)
          ) 
          WHERE cur_grade > 70
          GROUP BY window_end;
