testCases:
  - scenarioId: "A1"
    classfication: "Comprehensive"
    description: ""
    sql: |
      SELECT
          TUMBLE_END(ts, INTERVAL '1' HOUR) AS window_end,
          AVG(fuel_consumption) AS avg_fuel_consumption
      FROM
          readings
      GROUP BY
          TUMBLE(ts, INTERVAL '1' HOUR)
